<mat-toolbar>
  <mat-toolbar-row class="navbar-row">
    <a mat-button routerLink="/">
      <joka00-logo matButtonIcon />
      Device manager
    </a>
    <a
      mat-button
      class="navbar-hide-small"
      routerLink="/devices"
      routerLinkActive="item-selected"
      >Devices</a
    >
    <a
      mat-button
      class="navbar-hide-small"
      href="https://github.com/JosefKatic/nix-config"
      target="_blank"
      routerLinkActive="item-selected"
      >Flake
      <mat-icon class="openInNew" fontIcon="open_in_new" iconPositionEnd />
    </a>
    <a
      mat-button
      class="navbar-hide-small"
      href="https://search.nixos.org/options"
      target="_blank"
      >Documentation
      <mat-icon class="openInNew" fontIcon="open_in_new" iconPositionEnd />
    </a>
    <span class="flex-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ profile.firstName }} {{ profile.lastName }}
      <mat-icon iconPositionEnd> arrow_drop_down </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Log out
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-row navbar">
    <a
      mat-button
      class="navbar-link"
      routerLink="/devices"
      routerLinkActive="item-selected"
      >Devices</a
    >
    <a
      mat-button
      class="navbar-link"
      href="https://github.com/JosefKatic/nix-config"
      target="_blank"
      routerLinkActive="item-selected"
      >Flake
      <mat-icon class="openInNew" fontIcon="open_in_new" iconPositionEnd />
    </a>
    <a
      mat-button
      class="navbar-link"
      href="https://search.nixos.org/options"
      target="_blank"
      >Documentation
      <mat-icon class="openInNew" fontIcon="open_in_new" iconPositionEnd />
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-row-mobile">
    <button mat-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
      Menu
    </button>
  </mat-toolbar-row>
</mat-toolbar>
